<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Java's Barbershop & Academy</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <style>
            body{
                background: black;
                color:white;
                font-size: large;
            }

            table
            {
                background: black;
                color:white;
            }

            .btn {
                color:white;


            }


        </style>
    </head>
    <body>
        <header>
            <div class="alert alert-danger" role="alert">
  Usted no tiene permiso de visitar esta seccion, favor de regresar!
  <a class="btn btn-primary" href="/" role="button">Inicio</a>
</div>
        </header>
        <footer class="text-white mt-5 p-5" style="background-color:black">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">

                        <span> [[#{plantilla.pie-pagina}]] - &copy; Java´s BarberShop Academy

                        </span>

                    </p>
                    <h6 class="lead text-center">Todo estudiante Java´s se convierte en un Barber Master
                    </h6>
                </div>

            </div>
        </footer>

    </body>
</html>

