<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Java's Barbershop & Academy</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <style>
            body{
                background: white;
                color:black;
                font-size: large;
            }

            table
            {
                background: white;
                color:white;
            }

            .btn {
                color:white;


            }


        </style>
    </head>
    <body th:fragment="body">
        <header th:fragment="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="col-md-1">
                        <a href="/">
                            <img class="rounded float-start" style="width:100px" th:src="@{imagenes/javas barber.png}"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
                        <a class="navbar-brand"></a>

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">

                                <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuarios
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/usuarios">Profesores/Coordinadores</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><hr class="dropdown-divider"/></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/alumnos">Alumnos</a></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><hr class="dropdown-divider"/></li>
                                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" href="/vendedores">Vendedores</a></li>
                                </ul>
                            </li>

                            <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')" class="nav-item">
                                <a class="navbar-brand" href="/cursos">Cursos</a>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')" class="nav-item dropdown">
                                <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Inscripciones
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')"><a class="dropdown-item" href="/inscripciones">Inscribir Alumno a Curso</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')"><hr class="dropdown-divider"/></li>
                                    <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')"><a class="dropdown-item" href="/pagoInscripcion">Pago de Inscripcion</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')">
                                        <a class="dropdown-item" href="/alumnosInscritos">Pago Cursos / Niveles</a> </li>

                                </ul>



                                <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')" class="nav-item">
                                    <a class="navbar-brand" href="/ubicaciones">Ubicaciones</a>

                                </li>
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')" class="nav-item">

                                    <a class="navbar-brand" href="/crearEvento">Eventos</a></li>

                                <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN','ROLE_ALUMNO','ROLE_PROFESOR')" class="nav-item dropdown">

                                    <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Agenda
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ALUMNO')"><a class="dropdown-item" href="/agendar">Agendar</a></li>
                                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ALUMNO')"><hr class="dropdown-divider"/></li>
                                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ALUMNO')"><a class="dropdown-item" href="/agendas">Mi agenda</a></li>
                                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROFESOR')"><a class="dropdown-item" href="/BandejaMaestro">Bandeja Profesor</a></li>

                                    </ul>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                                    <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Cátalogos
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li sec:authorize="hasAnyRole('ROLE_COORDINADOR','ROLE_ADMIN')">
                                            <a class="dropdown-item" href="/crearClase">Clases</a>

                                        </li>
                                        <li><hr class="dropdown-divider"/></li>
                                        <li><a class="dropdown-item" href="/materiales">Materiales para Cursos</a></li>

                                        <li><hr class="dropdown-divider"/></li>
                                        <li><a class="dropdown-item" href="/categorias">Categorías de Cursos</a></li>

                                        <li><hr class="dropdown-divider"/></li>
                                        <li><a class="dropdown-item" href="/divisiones">Divisiones de Cursos</a></li>


                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled"></a>
                                </li>
                        </ul>

                        <div class="col-md-2 align-self-end">


                            <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <div class="dropdown btn-danger">
                                        <button class="btn btn-secondary dropdown-toggle" 
                                                type="button" id="dropdownMenuButton1" 
                                                data-bs-toggle="dropdown" 
                                                aria-expanded="false">
                                            <span sec:authentication="name">Usuario</span>

                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <form method="POST" th:action="@{/logout}">
                                                    <a href="#" onclick="this.parentNode.submit();" class="dropdown-item"><i class="fas fa-solid fa-power-off"></i> Salir</a>
                                                </form>

                                            </li>
                                            <li><a class="dropdown-item" href="/misDatos"><i class="fas fa-solid fa-key"></i> Mis Datos</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer" class="text-black mt-3 p-2" style="background-color:white">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">

                        <span> [[#{plantilla.pie-pagina}]] - &copy; TECNOMED
                        </span>

                    </p>

                </div>

            </div>
        </footer>

    </body>
</html>

