<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Agendar</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="alert alert-danger" role="alert" th:if="${mensaje != null}"
             th:text="${mensaje}"></div>

        <h1 class="text-white bg-dark text-center"> Agendar Eventos</h1>
        <div class="row row-cols-auto gx-5">
            <form action="agendar" method="GET" class="form-inline">
                <div class="col mb-2">
                    <div class="input-group">
                        <div  class="form-inline">
                            <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar..." aria-describedby="botonBuscarUbicacion" />
                        </div>
                        <button type="submit" class="btn btn-primary" id="botonBuscarUbicacion">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <div th:if="${eventos != null and !eventos.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>


                    <th>Fecha y Hora</th>
                    <th>Ubicacion</th>
                    <th>Calle y Numero</th>
                    <th>Colonia</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Cursos</th>
                    <th>Mapa</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ALUMNO')">Agendar</th>
                </tr>
                <tr th:each="evento : ${eventos}">

                    <td th:text="${#dates.format(evento.fecha_hora, 'dd MMMM yyyy hh:mm a')}">Fecha y Hora</td>
                    <td th:text="${evento.ubicacion.nombre_ubicacion}">Ubicación</td>
                    <td th:text="${evento.ubicacion.calle}+@{#}+${evento.ubicacion.numero}">Ubicación</td>
                    <td th:text="${evento.ubicacion.colonia}">Ubicación</td>
                    <td th:text="${evento.ubicacion.ciudad}">Ubicación</td>
                    <td th:text="${evento.ubicacion.estado}">Ubicación</td>
                    
                  

                        <td>
                            <span class="badge bg-dark"  
                                  th:each="curso : ${evento.cursos}" 
                                  th:text="${curso.nombre_curso}">Primary</span>
                        </td>
                        <td>
                        <a target="_blank" class="btn btn-primary" 
                           th:href="@{https://maps.google.com/maps?q=}+${evento.ubicacion.latitud}+@{,}+${evento.ubicacion.longitud}" ><i class="fas fa-solid fa-map-location"></i></a>       </td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ALUMNO')"><a class="btn btn-success" th:href="@{/guardarAgenda(id_evento=${evento.id_evento})}" ><i class="fas fa-solid fa-calendar-check"></i> Agendar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${eventos == null or eventos.empty}">
            No hay eventos publicados
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>

