<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Agendar</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="alert alert-danger" role="alert" th:if="${mensaje != null}"
             th:text="${mensaje}"></div>

        <h1 class="text-white bg-dark text-center"> Mi Agenda</h1>

        <div th:if="${claseAlumnos != null and !claseAlumnos.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>


                    <th>Curso</th>
                        <th>Clases Agendadas</th>
                        <th>Avance</th>

                </tr>
                <tr th:each="claseAlumno : ${claseAlumnos}">

                    <td th:text="${claseAlumno.Curso.nombre_curso}">Fecha y Hora</td>
                    <td th:text="${claseAlumno.clases_tomadas}">Ubicación</td>
                    <td><div class="progress">
                            <div class="progress-bar" 
                                 role="progressbar" 
                                 aria-label="Basic example" 
                                 th:style="'width:' + ${claseAlumno.clases_tomadas}/${claseAlumno.numero_clases}*100 + '%'" 
                                 th:aria-valuenow="${claseAlumno.clases_tomadas}/${claseAlumno.numero_clases}*100" 
                                 th:text="${claseAlumno.clases_tomadas}/${claseAlumno.numero_clases}*100 + '%'"
                                 aria-valuemin="0" 
                                 aria-valuemax="100"></div>
                        </div></td>

                </tr>
            </table>          
        </div>
        <div class="row row-cols-1 row-cols-md-3 text-dark" th:if="${agendas != null and !agendas.empty}">
            <div class='col mb-2'>
                <div class="text-dark" th:each="agenda : ${agendas}">

                    <div class="card">
                        <div class="card-header bg-warning text-dark">
                            <h4 th:text="@{Ubicación: } + ${agenda.evento.ubicacion.nombre_ubicacion}">Special title treatment</h4>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="@{Fecha y Hora: } + ' ' + ${#dates.format(agenda.evento.fecha_hora, 'dd MMMM yyyy hh:mm a')}">Special title treatment</h5>
                            <h5 class="card-title" th:text="@{Calle y Numero: } + ${agenda.evento.ubicacion.calle}+@{#}+${agenda.evento.ubicacion.numero}">Special title treatment</h5>
                            <h5 class="card-title" th:text="@{Colonia: } + ${agenda.evento.ubicacion.colonia}">Special title treatment</h5>
                            <h5 class="card-title" th:text="@{Ciudad: } + ${agenda.evento.ubicacion.ciudad}">Special title treatment</h5>
                            <h5 class="card-title" th:text="@{Estado: } + ${agenda.evento.ubicacion.estado}">Special title treatment</h5>
                            <h5 class="card-title" th:text="@{Ubicacion: } + ${agenda.evento.ubicacion.nombre_ubicacion}">Special title treatment</h5>

                            <img th:src="@{imagenes/}+${agenda.evento.ubicacion.foto}" class="img-thumbnail" alt="..." />
                        </div>
                        <div class="card-footer">

                            <div th:class="${#dates.formatISO(agenda.evento.fecha_hora)} < ${#dates.formatISO(fechaActual)} ? 'invisible' : 'visible'">
                            <a class="btn btn-danger" th:href="@{/eliminarAgenda(id_agenda=${agenda.id_agenda})}" >
                                <i class="fas fa-solid fa-trash-can"></i> Eliminar
                            </a>
                                </div>
                            <a target="_blank" class="btn btn-primary" th:href="@{https://maps.google.com/maps?q=}+${agenda.evento.ubicacion.latitud}+@{,}+${agenda.evento.ubicacion.longitud}" >
                                <i class="fas fa-solid fa-map-location"></i>Ver Mapa
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div th:if="${agendas == null or agendas.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>

