<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Alumnos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center"th:text="${titulodelapagina}"></h1>
        <form action="alumnosInscritos" method="GET">

            <div class="input-group">
                <div class="form-inline">
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar..."/>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <div th:if="${cuentas != null and !cuentas.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>UserName</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Niveles</th>
                    <th>Monto de la cuenta</th>
                    <th>Abonado</th>
                    <th>Saldo Pendiente</th>

                    <th sec:authorize="hasAnyRole('ROLE_ADMIN')">Abonar</th>
                </tr>
                <tr th:each="cuenta : ${cuentas}">
                    <td th:text="${cuenta.alumno.username}">UserName</td>
                    <td th:text="${cuenta.alumno.nombres}">Nombre</td>
                    <td th:text="${cuenta.alumno.apellidos}">Apellidos</td>
                    <td> <span class="badge rounded-pill bg-secondary"  
                               th:each="nivelcuenta : ${cuenta.nivelesCuentas}" 
                               th:text="${nivelcuenta.nivel.descripcion_nivel}">Primary</span>
                    </td>
                    <td><span class="badge rounded-pill bg-primary" th:text="${cuenta.monto_cuenta}">Primary</span></td>
                    <td><span class="badge rounded-pill bg-secondary"  th:text="${cuenta.abonado}">Secondary</span></td>
                    <td><span class="badge rounded-pill bg-danger"  th:text="${cuenta.monto_cuenta} - ${cuenta.abonado}">Secondary</span></td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success" 
                                                                 href="#" 
                                                                 role='button'
                                                                 data-bs-toggle="modal" 
                                                                 data-bs-target="#modalAbonos"  
                                                                 th:data-bs-nombreAlumno="${cuenta.alumno.nombres} + ' ' + ${cuenta.alumno.apellidos}"
                                                                 th:data-bs-idCuenta="${cuenta.id_cuenta}"><i class="fas fa-solid fa-dollar-sign"></i> Abonar
                           <span class="badge bg-danger" th:text='${#lists.size(cuenta.abonos)}'></span>
                        </a></td>

                </tr>
            </table>
        </div>
        <div th:if="${cuentas == null or cuentas.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade text-dark" id="modalAbonos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Abono</h5>



                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form  th:action="@{/guardarAbono}" method="POST" >

                        <div class="modal-body">
                            <input type="hidden" name="Cuenta" />
                            <input type="hidden" name="usuarioqueRecibeabono" th:value="${id_usuario_logueado}" />



                            <label class="form-control bg-warning">Nombre del Alumno:</label>
                            <input type="text" name="nombreAlumno" class="form-control" readonly="true"/>
                            <label for="tipo_de_pago" class="form-control bg-warning">Forma de Pago</label>
                            <select class="form-select" aria-label="Default select example" name="tipo_de_pago">
                                <option>Seleccione Forma de Pago</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta Débito">Tarjeta Débito</option>
                                <option value="Tarjeta Credito">Tarjeta Crédito</option>
                                <option value="Transferencia">Transferencia</option>
                            </select>

                            <label for="monto_del_abono" class="form-control bg-warning">Monto de Abono</label>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input type="text" name="monto_del_abono" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var exampleModal = document.getElementById('modalAbonos')
            modalAbonos.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var idCuenta = button.getAttribute('data-bs-idCuenta')
            var nombreAlumno = button.getAttribute('data-bs-nombreAlumno');


            var modalBodyIdCuenta = document.querySelector('.modal-body input[name="Cuenta"]');
            var modalBodynombreAlumno = document.querySelector('.modal-body input[name="nombreAlumno"]');

            modalBodyIdCuenta.value = idCuenta;
            modalBodynombreAlumno.value = nombreAlumno;
            });




        </script>

    </body>
</html>
