<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Usuarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Bandeja de Eventos de Maestros</h1>
        <form action="BandejaMaestro" method="GET"  class="form-inline">

            <div class="row row-cols-1 row-cols-md-5">
                <div class="col mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2">Inicio</span>
                        <input type="date" name="inicio" th:value="${inicio}" class="form-control" aria-label="Username" aria-describedby="basic-addon2" />
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon13">Fin</span>
                        <input type="date" name="fin" th:value="${fin}" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon13" />
                    </div>
                </div>
                <div class="col mb-2">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-solid fa-search"></i>Buscar</button>
                </div>
            </div>

            <div th:if="${eventos != null and !eventos.empty}">

                <table class="table table-dark table-striped table-hover">

                    <tr>

                        <th>Ubicación</th>
                        <th>Fecha y Hora</th>                 
                        <th>Alumnos Agendados</th>
                        <th>Maestro Asignado</th>
                      
                        <th>Publicado</th>
                        <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Ver...</th>

                    </tr>
                    <tr th:each="evento : ${eventos}">
                        <td th:text="${evento.ubicacion.nombre_ubicacion}">Ubicación</td>
                        <td th:text="${#dates.format(evento.fecha_hora, 'dd MMMM yyyy hh:mm a')}">Fecha y Hora</td>

                        
                        <td><span class="badge rounded-pill bg-success" th:text="${evento.alumnos_inscritos}">New</span></td> 
                        <td th:text="${evento.maestro} != null ? ${evento.maestro.nombres} + ' ' + ${evento.maestro.apellidos}">MaestroAsignado</td>
                        
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" th:checked="${evento.publicado}" disabled />
                            </div>
                        </td> 

                        <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR', 'ROLE_PROFESOR')">
                            <a role="button" class="btn btn-success" th:href="@{/controlDeAsistencia(id_evento=${evento.id_evento})}">
                                <i class="fa-solid fa-users"></i> Ver Alumnos</a>

                        </td>
                    </tr>
                </table>
            </div>
            <div th:if="${eventos == null or eventos.empty}">
                No hay eventos registrados
            </div>
        </form>

        <!-- Modal -->

        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade text-dark" id="modalEventos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Evento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/guardarEvento}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="usuario" th:value="${id_usuario_logueado}" />

                            <label for="nombre_clase" class="form-control bg-warning">Cursos</label>
                            <div th:each="curso : ${cursos}"  >
                                <div class="form-check">
                                    <input class="marcar" name="cursos[]" type="checkbox" th:value="${curso.id_curso}" id="flexCheckDefault"/>
                                    <label class="form-check-label" for="flexCheckDefault" th:text="${curso.nombre_curso}" >
                                        Default checkbox
                                    </label>
                                </div>
                            </div>
                            <label for="nombre_clase" class="form-control bg-warning">Ubicacion</label>
                            <select class="form-select" aria-label="Default select example" id="ubicacion" name="ubicacion">
                                <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion.id_ubicacion}" th:text="${ubicacion.nombre_ubicacion}"></option>
                            </select>



                            <label for="fecha_hora" class="form-control bg-warning">Fecha</label>
                            <input type="datetime-local" class="form-control" name="fecha" required="true" />

                            <label for="cupo_maximo" class="form-control bg-warning">Cupo Maximo</label>
                            <input type="text" class="form-control" name="cupo_maximo" required="true" />

                            <label for="numero_modelos" class="form-control bg-warning">Numero de Modelos</label>
                            <input type="text" class="form-control" name="numero_modelos" required="true" />

                            <label for="numero_modelos" class="form-control bg-warning">Publicar</label>
                            <input type="checkbox"  name="publicado" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade text-dark" id="modalAsignarMaestro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Asignar Maestro(a)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/asignarMaestro}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="id_evento" />

                            <label for="nombre_ubicacion" class="form-control bg-warning">Ubicacion</label>

                            <input type="text" name="ubicacionEvento" class="form-control" readonly="true"/>


                            <label for="fecha_hora" class="form-control bg-warning">Fecha y Hora</label>
                            <input type="text" class="form-control" name="fechaHora" readonly="true"  />

                            <label for="exampleDataList" class="form-control bg-warning">Asignar Maestro</label>

                            <input class="form-control" list="datalistMaestro" name="maestroEvento" id="exampleDataList" placeholder="Buscar Maestro..." />
                            <datalist id="datalistMaestro">
                                <option th:each="maestro: ${maestros}" th:value="${maestro.username}" th:label="${maestro.nombres} + ' ' + ${maestro.apellidos}" />
                            </datalist>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var exampleModal = document.getElementById('modalEventos')
            modalEventos.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var id = button.getAttribute('data-bs-id')


            var modalBodyIdNivel = document.querySelector('.modal-body input[name="nivel"]');
            modalBodyIdNivel.value = idNivel;

            });

            var exampleModal = document.getElementById('modalAsignarMaestro')
            modalAsignarMaestro.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var idEvento=button.getAttribute('data-bs-idEvento');

            var nombreUbicacion = button.getAttribute('data-bs-nombreUbicacion');
            var fechaHora = button.getAttribute('data-bs-fecha_hora');


            var modalBodyIdEvento = document.querySelector('.modal-body input[name="id_evento"]');
            var modalBodyNombreUbicacion = document.querySelector('.modal-body input[name="ubicacionEvento"]');
            var modalBodyFechaHora= document.querySelector('.modal-body input[name="fechaHora"]');

            modalBodyIdEvento.value = idEvento;
            modalBodyNombreUbicacion.value = nombreUbicacion;
            modalBodyFechaHora.value = fechaHora;

            });

        </script>

    </body>
</html>
