<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Categorias</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
         <h1 class="text-white bg-dark text-center">Categorías de Cursos </h1>
     
        <div th:if="${categorias != null and !categorias.empty}">
            <table class="table table-dark table-striped table-hover">
               
                <tr>
                    <th>Nombre de la Categoría</th>
                   <th>ID Categoría</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.nombre_categoria}">Nombre</td>
                    <td th:text="${categoria.id_categoria}">Apellido</td>
                 
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/} + ${categoria.id_categoria}" >Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar(id_categoria=${categoria.id_categoria})}">Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${categorias == null or categorias.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />

        
       

    </body>
</html>
