<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Categorias</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Categorías de Cursos </h1>
        <a class="btn btn-primary" href="crearCategoria" role="button"><i class="fas fa-solid fa-circle-plus"></i>Agregar Categoría</a>
        <table class="table table-dark table-striped table-hover"></table>
        <div th:if="${categorias != null and !categorias.empty}">
            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>Nombre de la Categoría</th>
                    
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.nombre_categoria}">Nombre</td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/editarCategoria(id_categoria=${categoria.id_categoria})}" ><i class="fas fa-solid fa-pen"></i>Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{/eliminarCategoria(id_categoria=${categoria.id_categoria})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${categorias == null or categorias.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>
