<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <script>

        </script>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <form th:action="@{/guardarUsuario}" th:object="${curso}" method="POST" class="was-validated row" enctype="multipart/form-data">
            <input type="hidden" name="id_curso" th:field="*{id_curso}" />
            <h1 class="text-white bg-dark text-center">Configuracion de Curso</h1>

            <div class="row">
                <div class="col mb-2">
                    <a class="btn btn-danger" href="/cursos" role="button"><i class="fas fa-solid fa-arrow-left"></i>Regresar</a>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-2">

                <div class="col md-2">
                    <div class="card text-center bg-dark text-white">
                        <div class="card-body">
                            <h2 class="card-title" th:text="${curso.nombre_curso}"></h2>
                            <img class="" style="width: 17rem; height: 23rem;"  th:src="@{imagenes/}+ ${curso.imagen_curso}"/>
                        </div>

                    </div><!-- comment -->
                </div>


                <div class="col mb-2">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNiveles"><i class="fas fa-solid fa-circle-plus"></i>Agregar Nivel</a>

                    <div class="accordion" id="accordionExample">
                        <th:block th:each="nivel : ${niveles}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" th:id="@{heading_ + ${nivel.id_nivel}}">
                                    <button th:id="@{button_ + ${nivel.id_nivel}}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapse_' + ${nivel.id_nivel}" aria-expanded="true" th:aria-controls="@{collapse_ + ${nivel.id_nivel}}" th:text="${nivel.descripcion_nivel}">
                                    </button>
                                </h2>
                                <div th:id="@{collapse_ + ${nivel.id_nivel}}" class="accordion-collapse collapse" th:aria-labelledby="@{heading_ + ${nivel.id_nivel}}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <a class="btn btn-success" 
                                           data-bs-toggle="modal" 
                                           data-bs-target="#ModalTemas" 
                                           th:data-bs-idNivel="${nivel.id_nivel}" >
                                            <i class="fas fa-solid fa-plus"></i> Agregar Tema
                                        </a>
                                        <a class="btn btn-primary"  
                                           data-bs-toggle="modal" 
                                           data-bs-target="#ModalNiveles"
                                           th:data-bs-idNivel="${nivel.id_nivel}"
                                           th:data-bs-nombreNivel="${nivel.nombre_nivel}"
                                           th:data-bs-descripcionNivel="${nivel.descripcion_nivel}"
                                           th:data-bs-precioUnitario="${nivel.precio_unitario}"
                                           th:data-bs-precioCursoCompleto="${nivel.precio_curso_completo}">

                                            <i class="fas fa-solid fa-pen"></i> Editar</a>
                                        <a class="btn btn-danger" th:href="@{/eliminarNivel(id_nivel=${nivel.id_nivel})}"  onclick="{
                                                    return confirm('Eliminar?')
                                                }" ><i class="fas fa-solid fa-trash"></i> Eliminar</a>

                                        <table class="table table-dark table-striped table-hover">
                                            <tr>

                                                <th>Tema</th>
                                                <th>Descripcion</th>  


                                                <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                                            </tr>
                                            <tr th:each="tema : ${temas.?[nivel.id_nivel == __${nivel.id_nivel}__]}">
                                                <td th:text="${tema.nombre_tema}">Tema</td>
                                                <td th:text="${tema.descripcion_tema}">Descripcion</td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary"  
                                                                                             data-bs-toggle="modal" 
                                                                                             data-bs-target="#ModalTemas"
                                                                                             th:data-bs-idTema="${tema.id_tema}"
                                                                                             th:data-bs-nombreTema="${tema.nombre_tema}"
                                                                                             th:data-bs-descripcionTema="${tema.descripcion_tema}"
                                                                                             th:data-bs-idNivel="${tema.nivel.  id_nivel}"

                                                                                             ><i class="fas fa-solid fa-pen"></i></a></td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Eliminar?')" th:href="@{/eliminarTema(id_tema=${tema.id_tema})}"><i class="fas fa-solid fa-trash"></i></a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="accordion-collapse" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                                    Agregar Materiales
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse " aria-expanded="true" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"></div>

                                <div class="row row-cols-1 row-cols-md-2">
                                    <div class="col">
                                        <table class="table table-dark table-striped table-hover">
                                            <thead>
                                                <td>Material</td>
                                                <td>Agregar</td>
                                            </thead>
                                            <tr th:each="material: ${materiales}">
                                                <td th:text="${material.nombre_material}">Material</td>
                                                <td><a class="btn btn-primary" th:href="@{/agregarMaterialCurso(id_material=${material.id_material},id_curso=${curso.id_curso})}"><i class="fas fa-solid fa-arrow-right"></i></a></td> 
                                            </tr>

                                        </table>

                                    </div>
                                    <div class="col">
                                        <table class="table table-dark table-striped table-hover">
                                            <thead>
                                                <td>Materiales Agregados</td>
                                                <td>Eliminar</td>
                                            </thead>
                                            <tr th:each="materialCurso: ${materialesCurso}">
                                                <td th:text="${materialCurso.material.nombre_material}">Material</td>
                                                <td><a class="btn btn-danger" th:href="@{/eliminarMaterialCurso(id_material_curso=${materialCurso.id_material_curso})}"><i class="fas fa-solid fa-trash"></i></a></td> 
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </form>
        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade" id="ModalNiveles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Nivel</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form  th:action="@{/guardarNivel}" th:object="${nivel}" method="POST" >
                        <div class="modal-body">
                            <input type="hidden" name="id_curso" th:value="${curso.id_curso}" />
                            <input type="hidden" name="id_nivel" />

                            <label for="Nivel" class="form-control bg-warning">No. de Nivel</label>
                            <select class="form-select" aria-label="Default select example" name="nombre_nivel">
                                <option>Seleccione el nivel</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <label for="descripcion_nivel" class="form-control bg-warning">Descripcion del Nivel</label>
                            <input type="text" class="form-control" name="descripcion_nivel" required="true" />

                            <label for="precio_unitario" class="form-control bg-warning">Precio Unitario</label>
                            <input type="text" class="form-control" name="precio_unitario" required="true" />

                            <label for="precio_curso_completo" class="form-control bg-warning">Precio Curso Completo</label>
                            <input type="text" class="form-control" name="precio_curso_completo" required="true" />

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--cierra Modal -->
        <!-- Modal Temario-->
        <div class="modal fade" id="ModalTemas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Tema</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/guardarTema}" th:object="${tema}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="id_curso" th:value="${curso.id_curso}" />
                            <input type="hidden" name="id_tema" />

                            <label for="Nivel" class="form-control bg-warning">Nivel</label>
                            <select class="form-select" aria-label="Default select example" id="Nivel" name="Nivel">
                                <option th:each="nivel : ${niveles}" th:value="${nivel.id_nivel}" th:text="${nivel.descripcion_nivel}"></option>
                            </select>

                            <label for="nombre_tema" class="form-control bg-warning">Nombre del tema</label>
                            <input type="text" class="form-control" name="nombre_tema" required="true" />
                            <label for="descripcion_tema" class="form-control bg-warning">Descripcion del tema</label>
                            <input type="text" class="form-control" name="descripcion_tema" required="true" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var exampleModal = document.getElementById('ModalTemas')
            ModalTemas.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget

                var idTema = button.getAttribute('data-bs-idTema')
                var nombreTema = button.getAttribute('data-bs-nombreTema');
                var descripcionTema = button.getAttribute('data-bs-descripcionTema');
                var idNivel = button.getAttribute('data-bs-idNivel');


                var modalBodyIdTema = document.querySelector('.modal-body input[name="id_tema"]');
                var modalBodyNivel = document.querySelector('.modal-body select[name="Nivel"]');
                var modalBodyNombreTema = document.querySelector('.modal-body input[name="nombre_tema"]');
                var modalBodyDescripcionTema = document.querySelector('.modal-body input[name="descripcion_tema"]');

                modalBodyIdTema.value = idTema;
                modalBodyNombreTema.value = nombreTema;
                modalBodyDescripcionTema.value = descripcionTema;
                modalBodyNivel.value = idNivel;
            });

            var exampleModal = document.getElementById('ModalNiveles')
            ModalNiveles.addEventListener('show.bs.modal', function (event) {

                var button = event.relatedTarget;

                var idNivel = button.getAttribute('data-bs-idNivel');
                var nombreNivel = button.getAttribute('data-bs-nombreNivel');
                var descripcionNivel = button.getAttribute('data-bs-descripcionNivel');
                var precioUnitario = button.getAttribute('data-bs-precioUnitario');
                var precioCursoCompleto = button.getAttribute('data-bs-precioCursoCompleto');

                var modalBodyIdNivel = document.querySelector('.modal-body input[name="id_nivel"]');
                var modalBodyNombreNivel = document.querySelector('.modal-body select[name="nombre_nivel"]');
                var modalBodyDescripcionNivel = document.querySelector('.modal-body input[name="descripcion_nivel"]');
                var modalBodyPrecioUnitario = document.querySelector('.modal-body input[name="precio_unitario"]');
                var modalBodyPrecioCursoCompleto = document.querySelector('.modal-body input[name="precio_curso_completo"]');

                modalBodyIdNivel.value = idNivel;
                modalBodyNombreNivel.value = nombreNivel;
                modalBodyDescripcionNivel.value = descripcionNivel;
                modalBodyPrecioUnitario.value = precioUnitario;
                modalBodyPrecioCursoCompleto.value = precioCursoCompleto;

            });
        </script>
        <!--cierra Modal -->
    </body>
</html>