<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Categorias</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Alumnos Agendados</h1>
        <a class="btn btn-danger" href="/BandejaMaestro" role="button"><i class="fas fa-solid fa-arrow-left"></i> Regresar</a>
        <a class="btn btn-primary" th:href="@{/cerrarEvento(id_evento=${evento.id_evento})}" role="button"
           onclick="return confirm('Esta accion archiva este evento y la edicion de Asistencia, Desea Continuar?')">
            <i class="fas fa-solid fa-lock"></i> Cerrar Evento</a>
        <table class="table table-dark table-striped table-hover"></table>





        <div class="card text-dark">
            <div class="card-header bg-warning">
                Maestro: <h3 th:text="${evento.maestro != null}? ${evento.maestro.nombres} + ' ' + ${evento.maestro.apellidos}"></h3>
            </div>
            <div class="card-body">
                Ubicación: <h5 class="card-title" th:text="${evento.ubicacion.nombre_ubicacion}">Special title treatment</h5>
                Fecha Hora: <h5 class="card-title" th:text="${#dates.format(evento.fecha_hora, 'dd MMMM yyyy hh:mm a')}">Special title treatment</h5>
                Alumnos:
                <table class="table table-dark table-striped table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha de Agenda</th>
                        <th>Asistencia</th>

                        <th>Control</th>
                    </tr>
                    <tr th:each="agenda : ${agendas}">
                        <td th:text="${agenda.alumno.nombres}">Nombre</td>
                        <td th:text="${agenda.alumno.apellidos}">Apellidos</td>
                        <td th:text="${#dates.format(agenda.fecha_creacion, 'dd MMMM yyyy hh:mm a')}">Apellidos</td>
                        <td><div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" th:checked="${agenda.asistencia}" disabled />
                            </div></td>

                        <td>
                            <div th:class="${evento.cerrado} ? 'invisible' : 'visible'">
                            <a class="btn btn-success" aria-disabled="true" role="button" th:href="@{/AsistenciaAgendar(id_agenda=${agenda.id_agenda})}"><i class="fas fa-solid fa-circle-check"></i>Si</a>
                            <a class="btn btn-danger" aria-disabled="true" role="button" th:href="@{/NoAsistenciaAgendar(id_agenda=${agenda.id_agenda})}"><i class="fas fa-solid fa-circle-xmark"></i>No</a></td>
                    </div>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${evento == null}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>
