<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Usuarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center">Cursos y Niveles Disponibles</h1>
        <div th:if="${niveles != null and !niveles.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                   
                    <th>Curso</th>
                    <th>Nivel</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Crear Clase</th>

                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Ver Clases</th>

                </tr>
                <tr th:each="nivel : ${niveles}">
                    
                    <td th:text="${nivel.curso.nombre_curso}">Nombre del Curso</td>

                    <td th:text="${nivel.descripcion_nivel}">Nivel</td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')"><a class="btn btn-success" 
                                                                                          data-bs-toggle="modal" 
                                                                                       data-bs-target="#modalClases"  

                                                                                       th:data-bs-idNivel="${nivel.id_nivel}"

                                                                                       ><i class="fas fa-solid fa-user-pen"></i> Crear Clase</a></td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')"><a class="btn btn-primary" th:href="@{/verClasesPorCursoYNivel(id_nivel=${nivel.id_nivel})}" ><i class="fas fa-solid fa-user-check"></i>Ver Clases</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${cursos == null or cursos.empty}">
            No hay cursos registrados
        </div>

        <!-- Modal -->

        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade text-dark" id="modalClases" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Clase</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/guardarClase}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="nivel" />


                            <label for="nombre_clase" class="form-control bg-warning">Nombre de la clase</label>
                            <input type="text" class="form-control" name="nombre_clase" required="true" />
                            <label for="descripcion_clase" class="form-control bg-warning">Descripción de la Clase</label>
                            <input type="text" class="form-control" name="descripcion_clase" required="true" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

 <script type="text/javascript">

            var exampleModal = document.getElementById('modalClases')
            modalClases.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget

                var idNivel = button.getAttribute('data-bs-idNivel')
               

                var modalBodyIdNivel = document.querySelector('.modal-body input[name="nivel"]');
                modalBodyIdNivel.value = idNivel;
                
            });

           
       
        </script>

    </body>
</html>
