<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>

        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
<div class="alert alert-danger" role="alert" th:if="${mensaje != null}"
                         th:text="${mensaje}"></div>
       
        <form th:action="@{/guardarInscripcion}" th:object="${curso}" method="POST" class="was-validated row" enctype="multipart/form-data">
            <input type="hidden" name="id_curso" th:field="*{id_curso}" />
            <h1 class="text-white bg-dark text-center">Inscribir Alumno</h1>

            <div class="row">
                 
                <div class="col mb-2">
                    <a class="btn btn-danger" href="/inscripciones" role="button"><i class="fas fa-solid fa-arrow-left"></i>Regresar</a>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3 text-dark">

                <div class="col md-2">
                    <div class="card text-center bg-dark text-white">
                        <div class="card-body">
                            <h2 class="card-title" th:text="${curso.nombre_curso}"></h2>
                            <img class="" style="width: 17rem; height: 23rem;"  th:src="@{imagenes/}+ ${curso.imagen_curso}"/>
                        </div>
                    </div><!-- comment -->
                </div>
                <div class="col md-2">
                    <div class="card bg-dark text-dark">
                        <div class="card-header bg-warning">
                            <label for="exampleDataList" class="form-label">Seleccionar Alumno</label>
                        </div><!-- comment -->
                        <div class="card-body">
                            <select class="form-control" name="listAlumno" id="exampleDataList">
                                <option th:each="cuenta : ${cuentas}" th:value="${cuenta.alumno.username}" th:label="${cuenta.alumno.nombres} + ' ' + ${cuenta.alumno.apellidos}" />
                            </select>
                        </div>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                    <div class="card bg-dark text-dark">
                        <div class="card-header bg-warning">
                            <label for="exampleDataList" class="form-label">Seleccionar Curso/Niveles</label>

                        </div>
                        <div class="card-body text-white">
                            <div class="form-check">
                                <input id="seleccionar-todos" name="chkCursoCompleto" class="marcar-todos" type="checkbox" />
                                <label class="form-check-label" for="flexCheckDefault" th:text="${curso.nombre_curso} + ' [Curso Completo]'">

                                </label>
                            </div>
                            <div th:each="nivel : ${niveles}"  >
                                <div class="form-check">
                                    <input class="marcar" name="niveles[]" type="checkbox" th:value="${nivel.id_nivel}" th:attr-precio_unitario='${nivel.precio_unitario}' th:attr-precio_curso_completo='${nivel.precio_curso_completo}' id="flexCheckDefault"/>
                                    <label class="form-check-label" for="flexCheckDefault" th:text="${nivel.descripcion_nivel}" >
                                        Default checkbox
                                    </label>
                                </div>
                            </div>
                        </div><!-- comment -->

                    </div>
                </div>
                <div class="col mb-2">

                    <div class="card bg-dark text-dark">
                        <div class="card-header bg-warning">
                            <label for="exampleDataList" class="form-label">Modalidad de Pago</label>
                        </div><!-- comment -->
                        <div class="card-body">
                            <select name="modalidadDePago" class="form-select form-select" aria-label=".form-select-sm example">
                                <option value="Pago en Parcialidades">Pago en Parcialidades</option>
                                <option value="Contado">Contado</option>

                            </select>
                        </div>
                    </div>
                    <div class="card bg-dark text-dark">
                        <div class="card-header bg-warning">
                            <label for="exampleDataList" class="form-label">Total a Pagar:</label>
                        </div>
                        <div class="card-body">
                            <h1><span class="badge bg-primary">

                                    <input id="total" type="text" placeholder="0.00"/>

                                </span></h1>
                            <input type="submit" class="btn btn-success" role="button" value="Inscribir"></input>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <footer th:replace="layout/plantilla :: footer" />


        <script type="text/javascript">


            $(document).ready(function () {
                $('.marcar-todos').change(function () {
                    // Cambiar setAttr y removeAttr por la función prop
                    $('.marcar').prop('checked', this.checked);
                    calcularCursoCompleto();
                }
                );


                $('.marcar').change(function () {
                    let checks = $('.marcar:checked');
                    $('.marcar-todos').prop('checked', checks.length == $('.marcar').length);
                    if ($('.marcar-todos').prop('checked') == true)
                        calcularCursoCompleto()
                    else
                        calcular();
                });
            });

            $(document).ready(function () {
                $(document).on('click keyup', '.marcar', function () {
                    calcular();
                });
                $(document).on('click keyup', '.marcar-todos', function () {
                    calcularCursoCompleto();
                });
            });






            function calcularCursoCompleto() {
                var tot = $('#total');
                tot.val(0);
                $('.marcar').each(function () {
                    if ($(this).hasClass('marcar')) {
                        tot.val(($(this).is(':checked') ? parseFloat($(this).attr('attr-precio_curso_completo')) : 0) + parseFloat(tot.val()));
                    } else {
                        tot.val(parseFloat(tot.val()) + (isNaN(parseFloat($(this).val())) ? 0 : parseFloat($(this).val())));
                    }
                });
                var totalParts = parseFloat(tot.val()).toFixed(2).split('.');
                tot.val('$' + totalParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '.' + (totalParts.length > 1 ? totalParts[1] : '00'));
            }

            function calcular() {
                var tot = $('#total');
                tot.val(0);
                $('.marcar').each(function () {
                    if ($(this).hasClass('marcar')) {
                        tot.val(($(this).is(':checked') ? parseFloat($(this).attr('attr-precio_unitario')) : 0) + parseFloat(tot.val()));
                    } else {
                        tot.val(parseFloat(tot.val()) + (isNaN(parseFloat($(this).val())) ? 0 : parseFloat($(this).val())));
                    }
                });
                var totalParts = parseFloat(tot.val()).toFixed(2).split('.');
                tot.val('$' + totalParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '.' + (totalParts.length > 1 ? totalParts[1] : '00'));
            }

        </script>


        <!--cierra Modal -->
    </body>
</html>