<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <script>

        </script>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <div class="row">

            <div class="col mb-2">
                <a class="btn btn-danger" href="/ubicaciones" role="button"><i class="fas fa-solid fa-arrow-left"></i>Regresar</a>

                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCalendario"><i class="fas fa-solid fa-circle-plus"></i>Agregar Calendario</a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 text-dark">

            <div class="col md-2">
                <div class="card text-center bg-dark text-white">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${ubicacion.nombre_ubicacion}"></h2>
                        <img class="" style="width: 17rem; height: 23rem;"  th:src="@{imagenes/}+ ${ubicacion.foto}"/>
                    </div>
                </div><!-- comment -->
            </div>
            <div class="col md-2">
                <div th:if="${calendarios != null and !calendarios.empty}">
                    <table class="table table-dark table-striped table-hover">

                        <tr>
                            <th>Descripcion del Calendario</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Frecuencia (dias)</th>
                            <th>Cupo Maximo</th>
                            <th>Ubicacion</th>
                            <th>Publicado</th>

                            <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Eliminar</th>
                            <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Editar</th>

                        </tr>
                        <tr th:each="calendario : ${calendarios}">
                            <td th:text="${calendario.descripcion_calendario}">Nombre</td>
                            <td th:text="${#dates.format(calendario.fecha_inicio, 'dd MMMM yyyy hh:mm a')}">Nombre</td>
                            <td th:text="${#dates.format(calendario.fecha_fin, 'dd MMMM yyyy')}">Nombre</td>
                            <td th:text="${calendario.frecuencia}">Nombre</td>
                            <td th:text="${calendario.cupo_maximo}">Nombre</td>
                            <td th:text="${calendario.ubicacion.nombre_ubicacion}">Nombre</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" th:checked="${calendario.publicado}" disabled />
                                </div>
                            </td>

                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">
                                <a class="btn btn-danger" onclick="return confirm('Esta acción elimina todos los eventos de esta ubicacion asociados al calendario, Continuar?')" th:href="@{/eliminarCalendario(id_calendario=${calendario.id_calendario})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">
                                <a class="btn btn-success"  
                                   data-bs-toggle="modal" 
                                   data-bs-target="#ModalCalendario"
                                   th:data-bs-descripcionCalendario="${calendario.descripcion_calendario}"
                                   th:data-bs-idUbicacion="${calendario.ubicacion.id_ubicacion}"
                                   th:data-bs-idCalendario="${calendario.id_calendario}"
                                   th:data-bs-fechaInicio="${#dates.format(calendario.fecha_inicio, 'dd-MM-yyyy''T''HH:mm')}"
                                   th:data-bs-fechaFin="${calendario.fecha_fin}"
                                   th:data-bs-idCurso="${calendario.curso.id_curso}"
                                   th:data-bs-frecuencia="${calendario.frecuencia}"
                                   th:data-bs-cupoMaximo="${calendario.cupo_maximo}"
                                   th:data-bs-numeroModelos="${calendario.numero_modelos}"
                                   th:data-bs-publicado="${calendario.publicado}"

                                   ><i class="fas fa-solid fa-pen"></i>Editar</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div th:if="${calendarios == null or calendarios.empty}">
                No hay registros
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade" id="ModalCalendario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Calendario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form  th:action="@{/guardarCalendario}" method="POST" >
                        <div class="modal-body">
                            <input type="hidden" name="ubicacion" th:value="${ubicacion.id_ubicacion}" />
                            <input type="hidden" name="id_calendario" />
                            <input type="hidden" name="activo" value="true" />
                            <label for="descripcion_calendario" class="form-control bg-warning">Descripción del Calendario</label>
                            <input type="text" class="form-control" name="descripcion_calendario" required="true" />

                            <label for="fecha_inicio" class="form-control bg-warning">Fecha de Inicio</label>
                            <input type="datetime-local" class="form-control" name="fecha_de_inicio" required="true" />

                            <label for="fecha_fin" class="form-control bg-warning">Fecha de Fin</label>
                            <input type="datetime-local" class="form-control" name="fecha_de_fin" required="true" />

                            <label for="curso" class="form-control bg-warning">Curso</label>

                            <select class="form-select" aria-label="Default select example" name="curso" >
                                <option th:each="curso : ${cursos}" th:value="${curso.id_curso}" th:text="${curso.nombre_curso}"></option>
                            </select>
                            <label for="frecuencia" class="form-control bg-warning">Frecuencia</label>
                            <select class="form-select" aria-label="Default select example" name="frecuencia">
                                <option value="1">Diario</option>
                                <option value="7">Semanal</option>
                                <option value="14">Quincenal</option>
                                <option value="30">Mensual</option>
                            </select>
                            <label for="cupo_maximo" class="form-control bg-warning">Cupo Máximo</label>
                            <input type="text" class="form-control" name="cupo_maximo" th:value="${ubicacion.cupo_maximo}" required="true" />

                            <label for="numero_modelos" class="form-control bg-warning">Número de Modelos</label>
                            <input type="text" class="form-control" name="numero_modelos" th:value="${ubicacion.cantidad_modelos}" required="true" />
                            <label for="publicado" class="form-control bg-warning">Publicar</label>
                            <input type="checkbox"  name="publicado" />

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 

        <script type="text/javascript">


            var exampleModal = document.getElementById('ModalCalendario');
            ModalCalendario.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;

                var idCalendario = button.getAttribute('data-bs-idCalendario');
                var descripcionCalendario = button.getAttribute('data-bs-descripcionCalendario');
                var bsIdCurso = button.getAttribute('data-bs-idCurso');
                var bsFrecuencia = button.getAttribute('data-bs-frecuencia');
                var bsCupoMaximo = button.getAttribute('data-bs-cupoMaximo');
                var bsNumeroModelos = button.getAttribute('data-bs-numeroModelos');
                
                var bsfechaInicio = button.getAttribute('data-bs-fechaInicio');


                var modalBodyIdCalendario = document.querySelector('.modal-body input[name="id_calendario"]');
                var modalBodyDescripcionCalendario = document.querySelector('.modal-body input[name="descripcion_calendario"]');
                var modalBodyCurso = document.querySelector('.modal-body select[name="curso"]');
                var modalBodyFrecuencia = document.querySelector('.modal-body select[name="frecuencia"]');
                var modalBodyCupoMaximo = document.querySelector('.modal-body input[name="cupo_maximo"]');
                var modalBodyNumeroModelos = document.querySelector('.modal-body input[name="numero_modelos"]');
               
                var modalBodyFechainicio = document.querySelector('.modal-body input[name="fecha_inicio"]');


                modalBodyIdCalendario.value = idCalendario;
                modalBodyDescripcionCalendario.value = descripcionCalendario;
                modalBodyCurso.value = bsIdCurso;
                modalBodyFrecuencia.value = bsFrecuencia;
                modalBodyCupoMaximo.value = bsCupoMaximo;
                modalBodyNumeroModelos.value = bsNumeroModelos;
                modalBodyFechainicio.value = bsfechaInicio.toISOString().slice(0,16);
                

            });


        </script>
    </body>
</html>