<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <form th:action="@{/guardarUsuario}" th:object="${usuario}" method="POST" class="was-validated row" enctype="multipart/form-data">
            <input type="hidden" name="id_usuario" th:field="*{id_usuario}"/>
            <input type="hidden" name="chkAlumno" value="ROLE_ALUMNO"/>
            <input type="hidden" name="url" value="/alumnos"/>
            <input type="hidden" name="uri" value="crearAlumno"/>


            <div class="row row-cols-1 row-cols-md-3">
                <div class='col mb-2'>
                    <label for="nombres">Nombre(s):</label>
                    <input type="text" class="form-control" name="nombres" required="true" th:field="*{nombres}"/>
                </div>
                <div class='col mb-2'>
                    <label for="apellido">Apellidos:</label>
                    <input type="text" class="form-control" name="apellidos" required="true" th:field="*{apellidos}"/>
                </div>
                <div class='col mb-2'>
                    <label for="fechanacimiento">Fecha Nacimiento:</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" required="true" th:field="*{fecha_nacimiento}"/>

                </div>
                <div class='col mb-2'>
                    <label>Sexo:</label>
                    <select name="sexo" class="form-select form-select" aria-label=".form-select-sm example" th:field="*{sexo}">

                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>

                    </select>
                </div>
                
                
               
                <div class='col mb-2'>
                    <label for="telefono">Telefono:</label>
                    <input type="text" class="form-control" name="telefono" required="true" th:field="*{telefono}"/>

                </div>
                <div class='col mb-2'>
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" name="username" required="true" th:field="*{username}"/>
                    <div class="alert alert-danger" role="alert" th:if="${error != null}"
                         th:text="${error}"></div>
                </div>
                <div class='col mb-2'>
                    <label for="password">Password:</label>
                    <input type="pass" class="form-control" name="password" th:field="*{password}"/>

                </div>
                <div class='col mb-2'>
                    <label for="correo">Correo:</label>
                    <input type="text" class="form-control" name="correo" required="true" th:field="*{correo}"/>

                </div>
                <div class='col mb-2'>
                   
                     <label for="nombre_contacto">Nombre de Contacto:</label>
                   
                    <input type="text" class="form-control" name="info_contacto" required="true" th:field="*{nombre_contacto}"/>  

                </div>
                   <div class='col mb-2'>
                    
                     <label for="telefono_contacto">Télefono de Contacto:</label>
                   
                    <input type="text" class="form-control" name="info_contacto" required="true" th:field="*{telefono_contacto}"/>  

                </div>
                <div class='col mb-2'>
                    <label for="fechaingreso">Fecha de Ingreso:</label>
                    <input type="date" class="form-control" name="fecha_ingreso" required="true" th:field="*{fecha_ingreso}"/>  

                </div>
                <div class='col mb-2'>
                    <label class="input-group-text" for="inputGroupFile01">Sube una foto:</label>
                    <input type="file" name="file" class="form-control" id="foto"/>

                </div>
                <div class='col mb-2'>
                    <button class="btn btn-primary btn-lg" type="submit" ><i class="fas fa-solid fa-floppy-disk"></i>Guardar</button>
                    <a href="/alumnos" class="btn btn-danger btn-lg"  role="button" aria-disabled="true"><i class="fas fa-solid fa-circle-xmark"></i>Cancelar</a>

                </div>

            </div>
            <!--  <div class="container">
                  <div class="">
                      <div class="col"></div>
                      <div class="col">
                          <label for="nombres">Nombre(s):</label>
                          <input type="text" class="form-control" name="nombres" required="true" th:field="*{nombres}"/>
                          <label for="apellido">Apellidos:</label>
                          <input type="text" class="form-control" name="apellidos" required="true" th:field="*{apellidos}"/>
                          <label for="username">Usuario</label>
                          <input type="text" class="form-control" name="username" required="true" th:field="*{username}"/>
                          <label for="password">Password:</label>
                          <input type="pass" class="form-control" name="password" th:field="*{password}"/>
                          <label for="correo">Correo:</label>
                          <input type="text" class="form-control" name="correo" required="true" th:field="*{correo}"/>
                          <label for="telefono">Telefono:</label>
                          <input type="text" class="form-control" name="telefono" required="true" th:field="*{telefono}"/>
                          <label for="fechanacimiento">Fecha Nacimiento:</label>
                          <input type="date" class="form-control" name="fecha_nacimiento" required="true" th:field="*{fecha_nacimiento}"/>
                      </div>
                      <div class="col">
                          <div class="form-check">
                              <label>Estado Civil:</label>
                              <select name="estado_civil" class="form-select form-select" aria-label=".form-select-sm example" th:field="*{estado_civil}">
  
                                  <option value="Soltero">Soltero(a)</option>
                                  <option value="Casado">Casado(a)</option>
  
                              </select>
                          </div>
                          <label>Sexo:</label>
                          <select name="sexo" class="form-select form-select" aria-label=".form-select-sm example" th:field="*{sexo}">
  
                              <option value="Femenino">Femenino</option>
                              <option value="Masculino">Masculino</option>
  
                          </select>
                          <label for="infocontacto">Informacion de Contacto:</label>
                          <input type="text" class="form-control" name="info_contacto" required="true" th:field="*{info_contacto}"/>  
                          <label for="fechaingreso">Fecha de Ingreso:</label>
                          <input type="date" class="form-control" name="fecha_ingreso" required="true" th:field="*{fecha_ingreso}"/>  
                          <label class="input-group-text" for="inputGroupFile01">Sube una foto:</label>
                          <input type="file" name="file" class="form-control" id="foto"/>
                          <div  class="modal-footer">
                              <button class="btn btn-primary btn-lg" type="submit" >Guardar</button>
                              <a href="/alumnos" class="btn btn-danger btn-lg"  role="button" aria-disabled="true">Cancelar</a>
                          </div>
                      </div>
  
                  </div>
  
  
              </div>-->
        </form>
        <footer th:replace="layout/plantilla :: footer" />

    </body>
</html>
