<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <form th:action="@{/guardarMaterial}" th:object="${material}" method="POST" class="was-validated">
            <input type="hidden" name="id_material" th:field="*{id_material}" />
            <div class="row row-cols-1 row-cols-md-3">
                <div class='col mb-2'>
                    <label for="nombre_material">Nombre del material:</label>
                    <input type="text" class="form-control" name="nombre_material" required="true"  th:field="*{nombre_material}" />

                </div>
                <div class='col mb-2'>
                    <label for="Division">Division</label>
                    <select class="form-select" aria-label="Default select example" name="Division" th:field="*{Division}" >
                        <option th:each="division : ${divisiones}" th:value="${division.id_division}" th:text="${division.nombre_division}"></option>
                    </select>
                </div>
                <div class='col mb-2'>

                </div>
                <div class='col mb-2'>

                    <button class="btn btn-primary" type="submit"><i class="fas fa-solid fa-floppy-disk"></i> Guardar</button>
                    <a class="btn btn-danger" href="/materiales" role="button"><i class="fas fa-solid fa-xmark"></i> Cancelar</a>

                </div>
            </div>
            
        </form>
        <footer th:replace="layout/plantilla :: footer" />

    </body>
</html>