<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <form th:action="@{/guardarCurso}" th:object="${curso}" method="POST" class="was-validated"  enctype="multipart/form-data">
            <input type="hidden" name="id_curso" th:field="*{id_curso}" />
            <div class="col">
                <div class="form-group">
                    <label for="nombre_curso">Nombre del Curso</label>
                    <input type="text" class="form-control" name="nombre_curso" required="true"  th:field="*{nombre_curso}" />
                </div>
                <div class="form-group">
                    <label for="imagen_curso">Imagen</label>
                    <input type="file" class="form-control" name="file"  />
                </div>
                <div class="form-group">
                    <label for="Categoria">Categoria</label>
                    <select class="form-select" aria-label="Default select example" name="Categoria" th:field="*{Categoria}" >
                        <option th:each="categoria : ${categorias}" th:value="${categoria.id_categoria}" th:text="${categoria.nombre_categoria}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Division">Division</label>
                    <select class="form-select" aria-label="Default select example" name="Division" th:field="*{Division}" >
                        <option th:each="division : ${divisiones}" th:value="${division.id_division}" th:text="${division.nombre_division}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nombre_curso">Costo de Inscripcion</label>
                    <input type="text" class="form-control" name="costo_inscripcion" required="true"  th:field="*{costo_inscripcion}" />
                </div>
                <div class="form-group">
                    <label for="nombre_curso">Comisión para Vendedor</label>
                    <input type="text" class="form-control" name="comision_vendedor" required="true"  th:field="*{comision_vendedor}" />
                </div>
                <button class="btn btn-primary" type="submit"><i class="fas fa-solid fa-floppy-disk"></i> Guardar</button>
                <a class="btn btn-danger" href="/cursos" role="button"><i class="fas fa-solid fa-xmark"></i> Cancelar</a>
            </div>

        </form>
        <footer th:replace="layout/plantilla :: footer" />

    </body>
</html>