<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
        <title>Categorias</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Administracion de Cursos</h1>
        <a class="btn btn-primary" href="crearCurso" role="button"><i class="fas fa-solid fa-circle-plus"></i>Agregar Curso</a>
        <div th:if="${cursos != null and !cursos.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>

                    <th>Curso</th>
                    <th>Division</th>
                    <th>Costo de Inscripcion</th>
                    <th>Comisión de Vendedor</th>
                    <th>Configuración</th>

                    <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="curso : ${cursos}">

                    <td th:text="${curso.nombre_curso}">Nombre del Curso</td>
                    <td th:text="${curso.division.nombre_division}">Division</td>
                    <td th:text="${curso.costo_inscripcion}">Nombre del Curso</td>
                    <td th:text="${curso.comision_vendedor}">Nombre del Curso</td>
                    <td><a class="btn btn-success" th:href="@{/configurarCurso(id_curso=${curso.id_curso})}" ><i class="fas fa-solid fa-gear"></i>Configurar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/editarCurso(id_curso=${curso.id_curso})}" ><i class="fas fa-solid fa-pen"></i>Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Eliminar?')" th:href="@{/eliminarCurso(id_curso=${curso.id_curso})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${cursos == null or cursos.empty}">
            No hay cursos registrados
        </div>

        <!-- Modal -->

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
