<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Divisiones</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Divisiones de Cursos </h1>

        <a class="btn btn-primary" href="crearDivision" role="button"><i class="fas fa-solid fa-circle-plus"></i>Agregar División</a>


        <div th:if="${divisiones != null and !divisiones.empty}">
            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>Nombre de la División</th>
                   
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="division : ${divisiones}">
                    <td th:text="${division.nombre_division}">Nombre</td>
                    

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/editarDivision(id_division=${division.id_division})}" ><i class="fas fa-solid fa-pen"></i>Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Eliminar?')" th:href="@{/eliminarDivision(id_division=${division.id_division})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${divisiones == null or divisiones.empty}">
            No hay registros
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
