<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Usuarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
      
        <h1 class="text-white bg-dark text-center">Cursos Disponibles</h1>
         <div th:if="${cursos != null and !cursos.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                    
                    <th>Curso</th>
                    <th>Categoria</th>
                    <th>Division</th>
                    <th>Inscribir</th>
                    
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Ver Alumnos inscritos</th>
                  
                </tr>
                <tr th:each="curso : ${cursos}">
                    <td th:text="${curso.nombre_curso}">Nombre del Curso</td>
                    <td th:text="${curso.categoria.nombre_categoria}">Categoria</td>
                    <td th:text="${curso.division.nombre_division}">Division</td>
                    <td><a class="btn btn-success" th:href="@{/crearInscripcion(id_curso=${curso.id_curso})}" ><i class="fas fa-regular fa-user-pen"></i>Inscribir</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/verAlumnosInscritos(id_curso=${curso.id_curso})}" ><i class="fas fa-solid fa-user-check"></i>Ver Alumnos Inscritos</a></td>
                    </tr>
            </table>
        </div>
        <div th:if="${cursos == null or cursos.empty}">
            No hay cursos registrados
        </div>

        <!-- Modal -->
     
        <footer th:replace="layout/plantilla :: footer" />
        
          <div class="modal fade" id="ModalInscripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Nivel</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" >
                        <div class="modal-body">
                            <input type="hidden" name="id_curso"  />
                            <input type="hidden" name="id_nivel" />

                            <label for="Nivel" class="form-control bg-warning">No. de Nivel</label>
                            <select class="form-select" aria-label="Default select example" name="nombre_nivel">
                                <option>Seleccione el nivel</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <label for="descripcion_nivel" class="form-control bg-warning">Descripcion del Nivel</label>
                            <input type="text" class="form-control" name="descripcion_nivel" required="true" />

                            <label for="precio_unitario" class="form-control bg-warning">Precio Unitario</label>
                            <input type="text" class="form-control" name="precio_unitario" required="true" />

                            <label for="precio_curso_completo" class="form-control bg-warning">Precio Curso Completo</label>
                            <input type="text" class="form-control" name="precio_curso_completo" required="true" />

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!--cierra Modal -->
      
  </body>
</html>
