<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Material</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Materiales de Cursos </h1>
        <a class="btn btn-primary" href="crearMaterial" role="button"><i class="fas fa-solid fa-circle-plus"></i>Agregar Material</a>
        <div th:if="${materiales != null and !materiales.empty}">
            <table class="table table-dark table-striped table-hover">

                <tr>
                   
                    <th>Nombre del Material</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="material : ${materiales}">
                    
                    <td th:text="${material.nombre_material}">Apellido</td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/editarMaterial(id_material=${material.id_material})}" ><i class="fas fa-solid fa-pen"></i> Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{/eliminarMaterial(id_material=${material.id_material})}"><i class="fas fa-solid fa-trash-can"></i> Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${materiales == null or materiales.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>
