<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Datos de la Persona</title>

        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center">Pago de Inscripciones</h1>
        <form action="pagoInscripcion" method="GET">

            <div class="input-group">
                <div class="form-inline">
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar..."/>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
                &nbsp;
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrearCuenta"><i class="fas fa-solid fa-circle-plus"></i> Crear Cuenta Inscripcion</a>
            </div>
        </form>
        <div th:if="${cuentas != null and !cuentas.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Curso</th>
                    <th>Monto de la cuenta</th>


                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')">Abonar</th>
                </tr>
                <tr th:each="cuenta : ${cuentas}">
                    <td th:text="${cuenta.alumno.nombres}">Nombre</td>
                    <td th:text="${cuenta.alumno.apellidos}">Apellidos</td>
                    <td th:text="${cuenta.curso.nombre_curso}">Apellidos</td>

                    <td><span class="badge rounded-pill bg-primary" th:text="${cuenta.monto_cuenta}">Primary</span></td>

                    <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDINADOR')"><a class="btn btn-success" 
                                                                 href="#" 
                                                                 role='button'
                                                                 data-bs-toggle="modal" 
                                                                 data-bs-target="#modalAbonos"
                                                                 th:data-bs-monto="${cuenta.monto_cuenta}"
                                                                 th:data-bs-nombreAlumno="${cuenta.alumno.nombres} + ' ' + ${cuenta.alumno.apellidos}"
                                                                 th:data-bs-idCuenta="${cuenta.id_cuenta}"><i class="fas fa-solid fa-dollar-sign"></i> Liquidar
                            <span class="badge bg-danger" th:text='${#lists.size(cuenta.abonos)}'></span>
                        </a></td>
                </tr>
            </table>
        </div>
        <div th:if="${cuentas == null or cuentas.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />

        <div class="modal fade text-dark" id="modalAbonos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Abono</h5>



                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form  th:action="@{/guardarAbonoInscripcion}" method="POST" >

                        <div class="modal-body">
                            <input type="hidden" name="Cuenta" />
                            <input type="hidden" name="usuarioqueRecibeabono" th:value="${id_usuario_logueado}" />



                            <label class="form-control bg-warning">Nombre del Alumno:</label>
                            <input type="text" name="nombreAlumno" class="form-control" readonly="true"/>
                            <label for="tipo_de_pago" class="form-control bg-warning">Forma de Pago</label>
                            <select class="form-select" aria-label="Default select example" name="tipo_de_pago">
                                <option>Seleccione Forma de Pago</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta Débito">Tarjeta Débito</option>
                                <option value="Tarjeta Credito">Tarjeta Crédito</option>
                                <option value="Transferencia">Transferencia</option>
                            </select>

                            <label for="monto_del_abono" class="form-control bg-warning">Monto de Abono</label>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input type="text" name="monto_del_abono" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1"  readonly="true">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade text-dark" id="modalCrearCuenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Cuenta de Inscripción</h5>



                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form  th:action="@{/guardarCuenta}" method="POST" >

                        <div class="modal-body">

                            <label for="alumno" class="form-control bg-warning">Alumno</label>
                            <select class="form-select" aria-label="Default select example" name="alumno" >
                                <option th:each="alumno : ${alumnos}" th:value="${alumno.id_usuario}" th:text="${alumno.nombres}+ ' ' + ${alumno.apellidos}"></option>
                            </select>

                            <label for="curso" class="form-control bg-warning">Curso</label>
                            <select class="form-select" aria-label="Default select example" name="curso" >
                                <option th:each="curso : ${cursos}" th:value="${curso.id_curso}" th:text="${curso.nombre_curso}"></option>
                            </select>

                            <label for="vendedor" class="form-control bg-warning">Vendedor</label>
                            <select class="form-select" aria-label="Default select example" name="vendedor" >
                                <option th:each="vendedor : ${vendedores}" th:value="${vendedor.id_usuario}" th:text="${vendedor.nombres}+ ' ' + ${vendedor.apellidos}"></option>
                            </select>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var exampleModal = document.getElementById('modalAbonos')
            modalAbonos.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var idCuenta = button.getAttribute('data-bs-idCuenta')
            var nombreAlumno = button.getAttribute('data-bs-nombreAlumno');
            var monto = button.getAttribute('data-bs-monto');

            var modalBodyIdCuenta = document.querySelector('.modal-body input[name="Cuenta"]');
            var modalBodynombreAlumno = document.querySelector('.modal-body input[name="nombreAlumno"]');
            var modalBodyMonto = document.querySelector('.modal-body input[name="monto_del_abono"]');
            
            modalBodyIdCuenta.value = idCuenta;
            modalBodynombreAlumno.value = nombreAlumno;
            modalBodyMonto.value = monto;
            });




        </script>
    </body>
</html>