<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Categorias</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background-color: black">
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center">Administración de Ubicaciones</h1>

        <div class="row row-cols-auto gx-5">
            <form action="ubicaciones" method="GET"   class="form-inline">
                <div class="col mb-2">
                    <div class="input-group">
                        <div  class="form-inline">
                            <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar..." aria-describedby="botonBuscarUbicacion" />
                        </div>
                        <button type="submit" class="btn btn-primary" id="botonBuscarUbicacion">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col mb-2">
                <a class="btn btn-primary" href="crearUbicacion" role="button"><i class="fas fa-solid fa-circle-plus"></i>Agregar Ubicacion</a>
            </div>
        </div>
        <div th:if="${ubicaciones != null and !ubicaciones.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>

                    <th>Ubicacion</th>
                    <th>Direccion</th>
                    <th>Mapa</th>
                    <th>Crear Calendario</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="ubicacion : ${ubicaciones}">
                    <td th:text="${ubicacion.nombre_ubicacion}">Nombre de la ubicación</td>
                    <td th:text="'Calle:   '+${ubicacion.calle}+'   '+ '#' +${ubicacion.numero}+'     '+'Col:  '+${ubicacion.colonia}+','+'Cd:   '+${ubicacion.ciudad}+'   '+','+'Estado:   '+${ubicacion.estado}">Dirección</td>
                    <!-- comment -->
                    <td>
                        <a target="_blank" class="btn btn-primary" th:href="@{https://maps.google.com/maps?q=}+${ubicacion.latitud}+@{,}+${ubicacion.longitud}" ><i class="fas fa-solid fa-map-location"></i></a>       </td>
                    <td>
                        <a class="btn btn-success" href="crearCalendario" role="button" th:href="@{/crearCalendario(ubicacion=${ubicacion.id_ubicacion})}" ><i class="fa-solid fa-calendar-days"></i> Crear Calendario</a> </td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{/editarUbicacion(id_ubicacion=${ubicacion.id_ubicacion})}" ><i class="fas fa-solid fa-pen"></i>Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger"  onclick="return confirm('Esta accion elimina la ubicacion, calendario y eventos asociados, Continuar?')" th:href="@{/eliminarUbicacion(id_ubicacion=${ubicacion.id_ubicacion})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${ubicaciones == null or ubicaciones.empty}">
            No hay Ubicaciones registradas
        </div>



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 modal_body_content">
                                <p>Some contents...</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 modal_body_map">
                                <div class="location-map" id="location-map">
                                    <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 modal_body_end">
                                <p>Else...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
        <div class="modal fade text-dark" id="modalEventos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear Evento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/guardarEvento}" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="usuario" th:value="${id_usuario_logueado}" />

                            <label for="nombre_clase" class="form-control bg-warning">Cursos</label>
                            <div th:each="curso : ${cursos}"  >
                                <div class="form-check">
                                    <input class="marcar" name="cursos[]" type="checkbox" th:value="${curso.id_curso}" id="flexCheckDefault"/>
                                    <label class="form-check-label" for="flexCheckDefault" th:text="${curso.nombre_curso}" >
                                        Default checkbox
                                    </label>
                                </div>
                            </div>
                            <label for="nombre_clase" class="form-control bg-warning">Ubicacion</label>
                            <select class="form-select" aria-label="Default select example" id="ubicacion" name="ubicacion">
                                <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion.id_ubicacion}" th:text="${ubicacion.nombre_ubicacion}"></option>
                            </select>



                            <label for="fecha_hora" class="form-control bg-warning">Fecha</label>
                            <input type="datetime-local" class="form-control" name="fecha" required="true" />

                            <label for="cupo_maximo" class="form-control bg-warning">Cupo Maximo</label>
                            <input type="text" class="form-control" name="cupo_maximo" required="true" />

                            <label for="numero_modelos" class="form-control bg-warning">Numero de Modelos</label>
                            <input type="text" class="form-control" name="numero_modelos" required="true" />

                            <label for="numero_modelos" class="form-control bg-warning">Publicar</label>
                            <input type="checkbox"  name="publicado" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            var exampleModal = document.getElementById('modalEventos')
            modalEventos.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var id = button.getAttribute('data-bs-id')


            var modalBodyIdNivel = document.querySelector('.modal-body input[name="nivel"]');
            modalBodyIdNivel.value = idNivel;

            });

            var exampleModal = document.getElementById('modalAsignarMaestro')
            modalAsignarMaestro.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget

            var idEvento=button.getAttribute('data-bs-idEvento');

            var nombreUbicacion = button.getAttribute('data-bs-nombreUbicacion');
            var fechaHora = button.getAttribute('data-bs-fecha_hora');


            var modalBodyIdEvento = document.querySelector('.modal-body input[name="id_evento"]');
            var modalBodyNombreUbicacion = document.querySelector('.modal-body input[name="ubicacionEvento"]');
            var modalBodyFechaHora= document.querySelector('.modal-body input[name="fechaHora"]');

            modalBodyIdEvento.value = idEvento;
            modalBodyNombreUbicacion.value = nombreUbicacion;
            modalBodyFechaHora.value = fechaHora;

            });

        </script>


    </body>

</html>
