<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Usuarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <h1 class="text-white bg-dark text-center"th:text="${titulodelapagina}"></h1>
        <div class="container">
            <div class="row row-cols-auto gx-5">

                <div class="col">
                    <div class="p-2">
                        <a class="btn btn-primary" th:href="${liga}" role="button" th:text="${titulo}"><i class="fas fa-solid fa-circle-plus"></i>Agregar</a>
                    </div>

                </div>
                <div class="col">
                    <div class="p-2">
                        <form th:action="${accion}" method="GET">
                            <div class="input-group">
                                <div class="form-inline">
                                    <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar Username"/>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div >
            </div >
        </div >
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table class="table table-dark table-striped table-hover">
                <tr>
                    <th>UserName</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Rol</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.username}">UserName</td>
                    <td th:text="${usuario.nombres}">Nombre</td>
                    <td th:text="${usuario.apellidos}">Apellidos</td>
                    <td> <p th:each="rol : ${usuario.roles}" th:text="${rol.nombre}"></p></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary" th:href="@{${editar}(id_usuario=${usuario.id_usuario})}"><i class="fas fa-solid fa-pen"></i>Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Eliminar Usuario?')" th:href="@{/eliminarUsuario(id_usuario=${usuario.id_usuario})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            No hay registros
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
