<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Vendedores</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center"th:text="${titulodelapagina}"></h1>

        <a class="btn btn-primary" th:href="${liga}" role="button" th:text="${titulo}"></a>

       
        <div th:if="${usuarios != null and !usuarios.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombres}">Nombre</td>
                    <td th:text="${usuario.apellidos}">Apellidos</td>


                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editarUsuario/} + ${usuario.id_usuario}" >Actualizar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a onclick="return confirm('Eliminar Usuario?')" th:href="@{/eliminarUsuario(id_usuario=${usuario.id_usuario})}">Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>
