<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Alumnos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center">Alumnos Inscritos</h1>
        <h1 class="text-white bg-dark text-center" th:text="${curso.nombre_curso}">curso</h1>
        <a class="btn btn-danger" href="/inscripciones"><i class="fas fa-solid fa-arrow-left"></i>Regresar</a>

        <a class="btn btn-success" th:href="@{/crearInscripcion(id_curso=${id_curso})}"><i class="fas fa-regular fa-user-pen"></i>Inscribir Alumno</a>

        <div class="col">
            <div class="p-2">
                <form action="verAlumnosInscritos" method="GET">
                    <input type="hidden" name="id_curso" th:value="${id_curso}" />

                    <div class="input-group">
                        <div class="form-inline">
                            <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar..."/>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div >
        <div th:if="${usuarios != null and !usuarios.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                   
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Nivel</th>

                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombres}">Nombre</td>
                    <td th:text="${usuario.apellidos}">Apellidos</td>
                     <td> 
                         <span class="badge rounded-pill bg-warning text-dark"  
                               th:each="inscripcion : ${usuario.inscripciones}" 
                               th:text="${inscripcion.nivel.descripcion_nivel} + ' Fecha Inscripcion: ' + ${inscripcion.fecha_inscripcion}">Primary</span>
                         
                     </td>
                   
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            No hay registros
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>

