<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Clases</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <h1 class="text-white bg-dark text-center">Clases Creadas</h1>
       
          <h2 class="text-white bg-dark text-center" th:text="${curso.nombre_curso}">curso</h2>
        <h2 class="text-white bg-dark text-center" th:text="${nivel.descripcion_nivel}">curso</h2>
        <a class="btn btn-danger" href="/crearClase"><i class="fas fa-solid fa-arrow-left"></i>Regresar</a>

          
        <div th:if="${clases != null and !clases.empty}">

            <table class="table table-dark table-striped table-hover">

                <tr>
                    <th>Nombre de la Clase</th>
                    <th>Descripcion de la Clase</th>
                     <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                   

                </tr>
                <tr th:each="clase : ${clases}">
                    <td th:text="${clase.nombre_clase}">Nombre de la Clase</td>
                    <td th:text="${clase.descripcion_clase}">Descripcion de la clase</td>
                   <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Eliminar?')" th:href="@{/eliminarClase(id_clase=${clase.id_clase})}"><i class="fas fa-solid fa-trash-can"></i>Eliminar</a></td>
             


                </tr>
            </table>
        </div>
        <div th:if="${clases == null or clases.empty}">
            No hay registros
        </div>


        <footer th:replace="layout/plantilla :: footer" />




    </body>
</html>


